<div class="noquestions">
    <img src="/assets/img/noquestions.svg" alt="Sem perguntas imagens">
    <p>Nenhuma pergunta por aqui. . .</p>
    <p>Faça sua primera perunta e envie o <br>codigo dessa sala para outras pessoas</p>
</div>