<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-id">Insira uma senha</label>
        <input type="text" id="room-id" name="password" placeholder="Senha da sala">
        <button><img src="/assets/img/users-white.svg" alt="enter pass"> Criar sala</button>
    </form>
</section>
